<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<% include template/header.ejs %>
<h1><%= title %></h1>
<p>Hey, my name is <%= name%>, I all in for MEAN</p>
</body>
</html>
