<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <% include template/header.ejs %>
    <h1><%= videodata.categoryName %></h1>
    <% videodata.categories.forEach(function(item){%>
    <li><%= item.categoryName%></li>
    <%});%>


  </body>
</html>
