<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<form action="/insert" method="post">
    Name: <input name="name"/>
    Id: <input name="id"/>
    <input type="submit" value="submit"/>
</form>
</body>
</html>
