<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<table border="1" style="width:100%">
    <tr>
        <td>name</td>
        <td>age</td>
        <td>position</td>
    </tr>
    <%for(var i=0;i<users.length;i++){ %>
    <tr>
        <td><%=users[i].name%></td>
        <td><%=users[i].age%></td>
        <td><%=users[i].position%></td>
    </tr>
    <%}%>
</table>

</body>
</html>
